@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #c9c5c3;
  border-bottom: 3px solid grey;
}

.carousel {
  width: 1300px;
}
.district {
  font-size: 18px;
}
.carousel-container__img {
  height: 600px;
}

.text-indent {
  text-indent: 4em;
  text-align: justify;
}

.text-container1 {
  width: 622px;
}

.ch_img {
  width: 600px;
  height: 340px;
}

.row {
  --bs-gutter-x: -1.5rem;
}
@media only screen and (max-width: 600px) {
  .district ul li .text-decoration-none {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .district ul li .text-decoration-none {
    font-size: 10px;
  }
}